body {
    background-color: #171b1b;
    margin: 0 auto;
    color: #a6a6a6;
    padding: 0;
    font-family: monospace;
    text-align: center;
    width: 800px;
    font-size: 14px;
}

h1 { color: #666699; }
h2 { color: #666699; }
h3 { color:#666699; }
h4 { color: #666699; }
h5 { color: #666699; }

.container {
   text-align: center;
 }

.container pre {
  display: inline-block;
  text-align: left;
 }

footer {
    color: #666699;
    font-weight: bold;
    width: 60%;
    border-top: dashed 1px #a6a6a6;
    margin: 20px auto 15px;
    padding-top: 10px;
}
header {
    margin-top: 25px;
    margin-bottom: 10px;
}
header p {
    text-align: left;
    margin: 0;
    color: #a6a6a6;
}
a {
    text-decoration: none;
    color: #666699;
}

#data {
 color: #a6a6a6;
 display: inline;
}


img.center {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}

main {
    text-align: left;
}
pre {
    border: 1px dashed #a6a6a6;
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow:auto;
    background-color: #222626;
}

#banner {
  white-space: pre;
  color: #666699;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  text-align: center;
}

.menu {
    border: 1px dashed #a6a6a6;
    border-radius: 3px;
}
.menu ul li {
    display: inline;
    margin-left: 5px;
}
.menu ul li a {
    text-decoration: none;
    color: #666699;
    text-align: center;
}
.menu ul li a:hover {
    padding: 2px;
    border-bottom: 2px solid #666699;
}

img {
    width: 70%;
    margin-left: 10%;
    border: 1px dashed #a6a6a6;
    padding: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 1px dashed #a6a6a6;
}

.comment {
    color: rgba(255,255,255,0.3);
}
.reserved {
    color: #b3b3cc;
}
.string {
    color: #666699;
}
.function {
    color: #a6a6a6;
}
.number {
    color: rgba(255,255,255,0.7);
}


/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #0099FF; font-style: italic } /* Comment */
.highlight .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #006699; font-weight: bold } /* Keyword */
.highlight .o { color: #555555 } /* Operator */
.highlight .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #009999 } /* Comment.Preproc */
.highlight .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.highlight .go { color: #AAAAAA } /* Generic.Output */
.highlight .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #99CC66 } /* Generic.Traceback */
.highlight .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #006699 } /* Keyword.Pseudo */
.highlight .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF6600 } /* Literal.Number */
.highlight .s { color: #CC3300 } /* Literal.String */
.highlight .na { color: #330099 } /* Name.Attribute */
.highlight .nb { color: #336666 } /* Name.Builtin */
.highlight .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.highlight .no { color: #336600 } /* Name.Constant */
.highlight .nd { color: #9999FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CC00FF } /* Name.Function */
.highlight .nl { color: #9999FF } /* Name.Label */
.highlight .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #330099; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #003333 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #FF6600 } /* Literal.Number.Float */
.highlight .mh { color: #FF6600 } /* Literal.Number.Hex */
.highlight .mi { color: #FF6600 } /* Literal.Number.Integer */
.highlight .mo { color: #FF6600 } /* Literal.Number.Oct */
.highlight .sb { color: #CC3300 } /* Literal.String.Backtick */
.highlight .sc { color: #CC3300 } /* Literal.String.Char */
.highlight .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #CC3300 } /* Literal.String.Double */
.highlight .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #CC3300 } /* Literal.String.Heredoc */
.highlight .si { color: #AA0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CC3300 } /* Literal.String.Other */
.highlight .sr { color: #33AAAA } /* Literal.String.Regex */
.highlight .s1 { color: #CC3300 } /* Literal.String.Single */
.highlight .ss { color: #FFCC33 } /* Literal.String.Symbol */
.highlight .bp { color: #336666 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #003333 } /* Name.Variable.Class */
.highlight .vg { color: #003333 } /* Name.Variable.Global */
.highlight .vi { color: #003333 } /* Name.Variable.Instance */
.highlight .il { color: #FF6600 } /* Literal.Number.Integer.Long */
